<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shop_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop_list.description %>
</p>

<div id="shop_items_wrapper">
  <%= render @shop_list.shop_items %>
  <div id="form">
    <%= render 'shop_items/form' %>
  </div>
</div>

<%= link_to 'Edit', edit_shop_list_path(@shop_list) %> |
<%= link_to 'Back', shop_lists_path %>
